.axis path, .axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 200;
    fill: blue;
}

text.title {
    font-size: 40px;
    fill: green;
    font-weight: 600;
}

text.label {
    font-size: 25px;
    font-weight: 400;
    fill: gray;
}

.btnWrap{
    position: absolute; 
    bottom: 5%;
    width: 1600; 
    left: 50%; 
    margin-left: -(1600/2);
}